body {
  background-color: white;
}
.main1 {
  background-color: brown;
  width: 500px;
  height: 500px;
  border: 3px solid black;
  margin: 50px;
  /* margin right je margina u odnosu na desnu stranu */
  margin-right: 30px;

  /* margina top u odnosu na gornji deo */
  margin-top: 30px;
  /* margin bottom za donji deo */
  margin-bottom: 10px;
  /* margin left za levi deo */
  margin-left: 20px;
  /* top right bottom i left */
  margin: 50px 40px 30px 20px;
  /* top & bottom, druga je right & left */
  margin: 50px 20px;
  /* top, right & left i bottom*/
  margin: 50px 20px 35px;
  /* margin auto centrira kontejner */
  margin: auto;
  margin: 30px auto;

  padding: 10px 25px;
  border-radius: 10px; /* za zaobljenu ivicu */
  border-radius: 10px 5px 15px 0px;

  border-bottom-left-radius: 10px;
}

.main2 {
  background-color: rgb(220, 245, 231);
  width: 500px;
  height: 500px;
}

.main p {
  text-align: justify;
}
